@{
	ViewData["Title"] = "Abbreviations";
}

<div class="container text-center">
	<div class="row">
		<div class="col-6">
			<h2 class="text-light">Enter Abbreviations</h2>
			<input class="form-control" type="text" name="Abbreviations" placeholder="Search for abbreviation or acronym"/>	
			<br /><a class="btn btn-info">Check</a>
		</div>
	</div>
</div>



